{{outlet}}
<div class="jumbo">
  <div class="right tomster">
  <h2> About Super Rentals </h2>
  <p>
    The Super Rentals website is a delightful project created to do stuff
    that probably won't actually help anyone because it's a random thing and
    no one is actually going to use it because I suck at making stuff.
  </p>
  </div>

{{#link-to 'contact' class="button"}}
Contact Us
{{/link-to}}
</div>
