{{outlet}}
<div class="jumbo">
  <div class="right tomster"></div>
  <h2> Contact us </h2>
  <p>
    Super Rentals representatives would love to help you choose
    stuff. Hit us up.
  </p>
  <p>
    Super Rentals HQ
    <address>
      1228 Things Ave <br>
      ClintEastwood,TN 20394
    </address>
    <a href="tel:433.474.3333">+1 </a><br>
    <a href="mailto:spinesurgeon@toasters.org"> </a>
  </p>
    {{#link-to 'about' class="button"}}
    about
    {{/link-to}}
</div>
